*
{
    margin: 0;
    padding: 0;
}

:root
{
    --my-bg: rgb(245, 245, 245);
    --my-bg-a: rgb(245, 245, 245, 0.5);
    --my-color: rgb(17, 17, 112);
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

body
{
    background-color: var(--my-bg, white);
    color: black;
    font-family: 'Poppins', 'Open Sans', Arial, Helvetica, sans-serif;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
}

.container
{
    width: 100%;
    height: 100%;
    overflow-y: scroll; 
    scroll-behavior: smooth;
}

.container::-webkit-scrollbar
{
    display: none;
}
.container
{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav_wrapper
{
    position: fixed;
    top: 25px;
    z-index: 1;
    width: 100%;
    height: 6vh;
}

.nav_wrapper > *
{
    white-space: nowrap;
}

#title-logo
{
    padding: 0.5em 1em;
    -webkit-backdrop-filter: blur(var(--my-blur-value, 5px));
    backdrop-filter: blur(var(--my-blur-value, 5px));
    -webkit-border-radius: .5em;
    border-radius: .5em;  
    background-color: var(--my-bg-a, white);  
}

        #title-logo h1
        {
            font-size: 2em;
            font-weight: 700;
        }

    #nav_center_menu
    {
        padding: 0.5em 1em;
        -webkit-backdrop-filter: blur(var(--my-blur-value, 5px));
        backdrop-filter: blur(var(--my-blur-value, 5px));
        background-color: var(--my-bg-a, white);
        -webkit-border-radius: .5em;
        border-radius: .5em; 
    }

    #nav_center_menu::backdrop
    {
        backdrop-filter: blur(50px);
    }
    
    #navigation
    {
        padding: 0.5em 1em;
        -webkit-backdrop-filter: blur(var(--my-blur-value, 5px));
        backdrop-filter: blur(var(--my-blur-value, 5px));
        background-color: var(--my-bg-a, white);
        -webkit-border-radius: 1em;
        border-radius: .5em; 
    }

        ul.horizontal_menu
        {
            gap: 45px;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 1.2em;
        }

            ul.horizontal_menu li 
            {
                display: inline;
                list-style-type: none;
            }

            ul.horizontal_menu li a
            {
                color: black;
                -webkit-transition: all 0.6s ease;
                -moz-transition: all 0.6s ease;
                transition: all 0.6s ease;
            }   

            ul.horizontal_menu li a:hover
            {
                color: var(--my-color, darkblue);
            }



#projects
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
    scroll-behavior: smooth;

    margin-top: 5em;
    gap: 1em;
}

.project-title
{
    margin-top: 2em;
}

#projects-bg-images
{
    pointer-events: none;
    background-position: center;
    background-size: auto 100%;
    border-radius: 1em;
    background-repeat: no-repeat;
}

button 
{
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    background: none;
    margin-top: 1em;
    margin-bottom: 2em;
}
   
   button span
   {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    background: none;
   }
   
   button span::before
   {
    content: '←';
    position: absolute;
    opacity: 0;
    right: 35px;
    transition: 0.5s ease;
   }
   
   button:hover span
   {
    padding-left: 15px;
   }
   
   button:hover span::before
   {
    opacity: 1;
    right: 40px;
   }

/* ----------------------------- */
/* <------ MEDIA QUERIES ------> */
/* ----------------------------- */


@media only screen and (max-width: 600px)
{
    .nav_wrapper
    {

       /* background-color: green; */
       gap: 0;

       display: flex;
       flex-direction: column;
       align-items:center;
       height: auto;
       gap: 0;
    }

    #navigation
    {
       font-size: .8em; 
    }

    #projects
    {
    margin-top: 10em;
    gap: 0;
    }   

    iframe
    {
        width:450px; 
        height:253px;
        margin-top: 1em;
    }

    #projects-bg-images
    {
    background-size: 50%;
    }
}


@media only screen and (min-width: 600px)
{
    .nav_wrapper
    {
       /* background-color: black; */
       gap: 0;

       display: flex;
       flex-direction: column;
       align-items:center;
       height: auto;
       gap: 0;
    }
    
    #navigation
    {
       font-size: .8em; 
    }

    #projects
    {
    margin-top: 10em;
    gap: 0;
    }   

    iframe
    {
        width:585px; 
        height:329px;
        margin-top: 1em;
    }

    #projects-bg-images
    {
    background-size: 65%;
    }
}

@media only screen and (min-width: 768px)
{
    .nav_wrapper
    {
       /* background-color: blue; */
       display: flex;
       flex-direction: row;
       align-items:center;
       justify-content: space-around;
       height: 6vh;
       gap: 0;
    }

    #projects
    {
    margin-top: 5em;
    gap: 1em;
    }
    
    iframe
    {
        width:720px; 
        height:405px;
    }

    #projects-bg-images
    {
    background-size: 80%;
    }

}   

@media only screen and (min-width: 992px)
{
    /* .nav_wrapper
    {
        background-color: red;
    } */
    
    iframe
    {
        width:900px; 
        height:506px;
    }

    #projects-bg-images
    {
    pointer-events: none;
    background-position: center;
    background-size: auto 100%;
    border-radius: 1em;
    background-repeat: no-repeat;
    }
}


/* 
@media only screen and (min-width: 1200px)
{
    .nav_wrapper
    {
        background-color: yellow;
    }
} */

@media only screen and (orientation : portrait) 
    {
        .nav_wrapper
        {

            /* background-color: green; */
            gap: 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            gap: 0;
        }

        #title-logo
        {
            font-size: 1.8em;
        }

        #nav_center_menu
        {
            font-size: 2.5em;
        }

        #navigation {
            font-size: 1.8em;
        }

        .project-title
        {
            font-size: 2.2em;
        }

        #projects
        {
        margin-top: 22em;
        gap: 2em;
        }   
    
        iframe
        {
            margin-top: 1em;
        }
    
        button 
        {
            height: 3em;
            width: 100px;
            border-radius: .5em;
            letter-spacing: 1px;
            margin-top: 1em;
            margin-bottom: 2em;
        }
           
           button span
           {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
            background: none;
            font-size: 1.5em;
           }
    }
